* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  height: 68px;
  width: 100%;
  /* background-color: aqua; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.navbar > .logo {
  height: 100%;
  width: 15%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar > .navlists {
  height: 100%;
  width: 40%;
  /* background-color: crimson; */
}

.navlists > ul {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  font-weight: 600;
  font-size: 17px;
}

.navbar > .icons {
  height: 100%;
  width: 15%;
  /* background-color: red; */
}

.icons > ul {
  height: 100%;
  width: 15%;
  display: flex;
  align-items: center;
  gap: 40px;
  list-style: none;
}

.mainContent {
  height: 316px;
  width: 100%;
  background-image: url("./components/Assets/mainContent.jpg");
  background-size: 100% 300%;
  background-position: 100%;

  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: center;
}
/* 
.mainContent > img {
  width: 100%;
  height: 100%;
} */
