.formContainer {
  height: 400px;
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
  background-color: lightseagreen;
}
form {
  height: 70%;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80%;
}
form > input,
button {
  padding: 10px;
}

.showBtn {
  height: 25px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 7px;
  right: 7px;
}

.passwordBox {
  width: 100%;
  position: relative;
}
.passwordBox > input {
  width: 100%;
  padding: 10px 60px 10px 10px;
}
