* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navContainer {
  height: 65px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  /* background-color: lightseagreen; */
}

.navContainer > .logo {
  height: 100%;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: lightsalmon; */
}

.Navlists {
  height: 100%;
  width: 85%;
  color: #fff;
  /* background-color: lightskyblue; */
}

.Navlists > ul {
  height: 100%;
  width: 100%;
  display: flex;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}

.Navlists > ul > :last-child {
  /* background-color: yellow; */
  width: 20%;
}

.Navlists > ul > :last-child > select {
  width: 100%;
  padding: 10px;
  border: 2px solid rgb(227, 224, 224);
  border-radius: 7px;
  outline: none;
  color: #fff;
  background: transparent;
}

/*! Main Contents start here  */
.pages {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -10;
}

.media {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.pageContent {
  height: 350px;
  width: 500px;
  position: absolute;
  bottom: 0px;
  background-color: yellow;
}

.contentInterated {
  position: relative;
}
